<h2>Login</h2>
<label for="email">E-mail</label>
<input type="text" id="email" [(ngModel)]="email">
<label for="senha">Senha</label>
<input type="text" id="senha" [(ngModel)]="senha">
<button type="button" (click)="login()">Entrar</button>