<h2>Renderizando uma lista de dados</h2>
<ul class="lista-produtos">
    <li *ngFor="let celular of celulares">
        <strong>{{ celular.nome }}</strong>
        <p>{{ celular.descricao }}</p>
        <span [ngClass]="celular.esgotado ? 'esgotado' : '' ">{{ celular.esgotado ? "esgotado" : "disponível" }}</span>
    </li>
</ul>