<app-card titulo="Primeiro Componente" cor="#3D4D63">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando os conhecimentos em templates" cor="#B2E7E8">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes" cor="#BFB9AA">
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="Two-way-data-binding" cor="#F2D096">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando listas" cor="#ED8975">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componentes personalizados (Input)" cor="#FFE3DC">
    <app-componente-personalizado nome="João" sobrenome="das Neves"></app-componente-personalizado>
    <app-componente-personalizado nome="Dragon's" sobrenome="Mother"></app-componente-personalizado>
</app-card>

<app-card titulo="Compartilhando dados entre componentes" cor="#A2AD91">
    <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços" cor="#3A2D32">
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="Ciclo de vida">
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
