<form class="search-form" (ngSubmit)="pesquisar()">
    <input type="text" aria-label="#" name="descricao" [(ngModel)]="descricao">
    <button type="button" aria-label="#"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>