<section class="container">
    <i class="fa-solid fa-x"></i>
    <h2>404! Página não encontrada</h2>
    <hr>
    <p>A página que você está tentando acessar não existe.</p>
    <p>Clique <a routerLink="/">aqui</a> para voltar para a página inicial.</p>
</section>