.chamada {
    padding-top: 2.5rem;

    margin-bottom: 2.5rem;

    background-image: url(../../assets/img/splash-chamada.svg);
    background-position: top -4rem right;
    background-repeat: no-repeat;

    position: relative;
}

.chamada__texto {
    width: 12.5rem;

    margin-bottom: 1.55rem;
}

.chamada__imagem {
    position: absolute;
    top: 3.25rem;
    right: 0;
}

.chamada__formulario {
    position: relative;

    z-index: 2;
}