<p>Parâmetro da rota: {{ id }}</p>
<p *ngIf="nome">Query Param de nome: {{ nome }}</p>
<p *ngIf="idade">Query Param de idade: {{ idade }}</p>

<!-- http://localhost:4200/pagina-com-parametros/18?nome=Joao&idade=30 -->