<h2>Serviço 02</h2>
<label for="produto">Digite o produto: </label>
<input type="text" [(ngModel)]="produto">
<button type="buton" (click)="adicionarProduto()">Adicionar produto</button>
<button type="button" (click)="this.logger.exibeTodosOsLogs()">Exibe todos os logs</button>