.main-header {
	padding: 10px 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 40px;
}

.main-header__title {
	font-size: 92px;
	letter-spacing: -1.5px;
}

.main-header__title--blue {
	color: var(--blue);
}

.main-header__title--orange {
	color: var(--orange);
}

.main-header__menu ul {
	display: flex;
	justify-content: flex-end;
}

.main-header__menu a {
	padding: 10px 10px;
	color: var(--gray);
	font-weight: 400;
	font-size: 22px;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
	background-color: var(--blue);
	color: #fff;
}

.container-menu {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	flex: 1;
}

.badge-carrinho {
	background-color: var(--dark-blue);
	padding: 5px 10px;
	border-radius: 4px;
	color: white;
}
