<!-- <h2>Aprofundando os conhecimentos em templates</h2> -->
<img [src]="urlImagem" width="300" alt="">
<p>{{ nome | uppercase }}</p>
<p>Data de nascimento: {{ dataNascimento | date:"dd/MM/yyyy" }}</p>
<button (click)="mostrarDataNascimento()" type="button">Mostrar data de nascimento</button>