@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

:root {
  --bg-color: #ffffff;
  --button-color: #326589;
  --text-title-color: #fc6621;
  --text-description-color: #fc6621;
  --text-price-color: #002f52;
  --text-author-color: #858585;
  --text-tag-color: #9c9c9c;
}

body {
  font-family: 'Poppins';
}

.wrap {
  width: 1280px;
  margin: 0 auto;
}

.header {
  text-align: center;
  width: 100%;
  background-color: var(--bg-color);
  margin: 15px 15px;
}

.banner {
  background-image: url('./imagens/Banner-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 278px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin: 4rem 0;
}

.btn {
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  height: 44px;
  text-decoration: none;
  color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  color: #cecdcd;
  border-radius: 10px;
  border-bottom: 2px solid var(--text-description-color);
}

.livros {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.livro {
  width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 644px;
  margin-bottom: 1rem;
}

.indisponivel {
  opacity: 0.3;
}

.livro__titulo {
  color: var(--text-title-color);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.livro__descricao {
  text-align: center;
  font-size: 18px;
  color: var(--text-author-color);
  margin: 1rem 0;
}

.livro__preco {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-price-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.tag {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-tag-color);
  padding: 5px 4px;
  background: rgba(197, 197, 197, 0.25);
  border-radius: 4px;
  margin-right: 1rem;
}

.livros__disponiveis {
  width: 100%;
  height: 80px;
  background-color: var(--text-description-color);
  margin-top: 1rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.livros__disponiveis p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  font-size: 2.5em;
} 

.rodape {
  width: 100%;
  height: 104px;
  background: linear-gradient(96.48deg, #002f52 36.3%, #326589 99.56%);
  margin-top: 1rem;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape p {
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
