<footer class="footer">
	<div class="footer__container">
		<section>
			<h2 class="footer__title">Sobre</h2>
			<p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolore magnam delectus eaque totam sunt quis aperiam, fuga earum deserunt quisquam labore dolorem ab, corporis, repellat maiores. Quaerat, necessitatibus nemo?</p>
		</section>
		<address>
			<h2 class="footer__title">Contato</h2>
			<ul>
				<li><i class="fa-solid fa-envelope"></i> email@email.com</li>
				<li><i class="fa-solid fa-phone"></i> (00) 00000-0000</li>
				<li><i class="fa-brands fa-whatsapp"></i> (00) 00000-0000</li>
			</ul>
		</address>
	</div>
	<section class="footer__copyright">
		&copy; 2023 - Todos os direitos reservados
	</section>
</footer>
