<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of produtos">
        <a routerLink="/produtos/{{produto.id}}" class="product-list__link">
            <img [src]="produto.imagem" alt="#">
            <h2 class="product-item__name">{{ produto.descricao }}</h2>
            <p class="product-item__price">{{ produto.preco | currency: "BRL" }}</p>
            <p class="product-item__price-description">{{ produto.descricaoPreco }}</p>
            <button class="product-item__buy-button" type="button">Comprar</button>
        </a>
    </div>
</section>