.container {
    padding: 10px;
    margin: 20px 0;
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.content {
    background-color: white;
    padding: 5px;
}