.secao-horizontal .cartao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.25rem;
}

.secao-horizontal .cartao__imagem {
    /* grid-column:  1/2;
    grid-row: 1/4; */
    grid-area: 1 / 1 / 4 / 2;
}

.secao-horizontal .cartao__botao {
    grid-area: 1 / 3 / 4 / 4;
}

.secao-horizontal .cartao__titulo {
    align-self: end;
}

.secao-vertical .cartao {
    display: grid;
    grid-template-rows: auto 1fr auto;
}