form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 20px auto;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input {
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	background-color: lightcoral;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

table.custom-table {
	width: 60%;
	margin: 20px auto;
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid #ccc;
}

th,
td {
	padding: 10px;
	text-align: left;
}

td:nth-child(3) {
	width: 155px;
}

tr:hover {
	background-color: #f2f2f2;
}
