<form>
    <label>Curso</label>
    <input type="text" name="nomeCurso" title="#" [(ngModel)]="curso.nomeCurso">
    <br>
    <label>Valor</label>
    <input type="text" name="valorCurso" title="#" [(ngModel)]="curso.valorCurso">
    <br>
    <button type="button" (click)="cadastro()">Cadastrar</button>
    <button type="button" (click)="alterar()">Alterar</button>
    <button type="button" (click)="remover()">Excluir</button>
</form>

<table class="custom-table">
    <tr *ngFor="let v of vetor">
        <td>{{ v.nomeCurso }}</td>
        <td>{{ v.valorCurso }}</td>
        <td><button (click)="selecionarCurso(v)">Selecionar curso</button></td>
    </tr>
</table>