<h2 class="cart-title">Carrinho</h2>
<div *ngIf="itensCarrinho.length > 0; else semProduto">
    <ul>
        <li *ngFor="let itemCarrinho of itensCarrinho">
            <img [src]="itemCarrinho.imagem" alt="#">
            <p>{{ itemCarrinho.descricao }}</p>
            <p>Preço: {{ itemCarrinho.preco | currency: "BRL" }}</p>
            <label>
                Quantidade:
                <input type="number" [(ngModel)]="itemCarrinho.quantidade" (change)="calcularTotal()">
            </label>
            <button class="remove-button" (click)="removerProdutoCarrinho(itemCarrinho.id)"><i class="fa-solid fa-xmark"></i></button>
        </li>
    </ul>
    <h2 class="cart-total">Total: {{ total | currency: "BRL" }}</h2>
    <button class="buy-button" (click)="comprar()">Comprar</button>
</div>
<ng-template #semProduto>Seu carrinho está vazio</ng-template>